.user-container {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  margin-top: 32px;
}
.persinal-page {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07), -3px -3px 5px rgba(0, 0, 0, 0.09);
  position: relative;
  height: 570px;
  border-radius: 10px;
}
.coverImage img {
  width: 100%;
  height: 411px;
  object-fit: cover;
  cursor: pointer;
}
.avatar {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #bdbdbd;
  bottom: 115px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.avatar-icon {
  width: 115px;
  height: 115px;
  fill: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nameUser {
  font-size: 1.25rem;
  margin: 0;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-weight: 500;
  white-space: nowrap;
}
.tabItem {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 16px;
  white-space: nowrap;
  border-radius: 0px 20px;
  text-transform: none;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.tabItem::before {
  width: 24px;
  height: 24px;
  content: '';
  left: 30%;
  top: 30%;
  z-index: 0;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(134 243 255 / 30%);
}
.tabItem.active {
  color: #fff;
  fill: #fff;
  border-color: #24a8d8;
  background-color: #24a8d8;
}

.tab-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-right: 10px;
  margin-left: 20px;
}
.tabcontrol {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}
.tuychon {
  display: flex;
  flex-direction: column;
  float: right;
  padding: 10px;
  margin-right: 50px;
  margin-top: 30px;
}
.tuychon-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tuychon-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-bottom: 15px;
  cursor: pointer;
}
.tuychon-btn:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.tuychon p {
  font-size: 1rem;
}
.camera {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.44);
  position: absolute;
  bottom: 10px;
  right: 5px;
  cursor: pointer;
}
.camera:hover {
  background-color: rgba(0, 0, 0, 0.64);
}
.camera-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}
.thaydoianhbia {
  width: 30px;
  height: 30px;
  position: relative;
}
.btn-thaydoianhbia {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9375rem;
  background-color: #000;
  display: flex;
  align-items: center;
  opacity: 0.55;
  border-radius: 50px;
  cursor: pointer;
  padding: 0 3px;
}
.btn-thaydoianhbia:hover {
  opacity: 0.7;
}

.btn-thaydoianhbia p {
  padding: 10px 5px;
  color: #fff;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.tab-page {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07), -3px -3px 5px rgba(0, 0, 0, 0.09);
  margin-top: 40px;
  padding: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.tab-page::before {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  content: '';
  background-color: #effdff;
  top: -150px;
  left: -130px;
  z-index: 0;
}
.tab-page::after {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: '';
  background-color: #e1fbff;
  top: -100px;
  left: -90px;
  z-index: 0;
}
.tab-page-hearder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-page-title {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.84);
  z-index: 1;
}
.hearder-option .header-option-content {
  padding: 5px 10px;
  font-size: 0.875rem;
  border-radius: 40px;
  border: 1px solid #bdbdbd;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-option-header {
  margin: 0 7px;
  fill: rgba(0, 0, 0, 0.54);
  padding: 2px;
  height: 24px;
  width: 24px;
}
.tab-page-main {
  padding: 32px 0 0;
}
.page-main-tab {
  display: flex;
  align-items: center;
}
.main-tab-item {
  padding: 5px 12px;
  z-index: 1;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  white-space: nowrap;
}
.main-tab-item.active {
  color: #000000da;
  font-weight: bold;
  position: relative;
  padding-bottom: 6px;
}
.main-tab-item.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 3px;
  background-color: #24a8d8;
}
.page-content {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}
.page-content img {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}
.page-content p {
  font-size: 1.15rem;
  color: #000000da;
  font-weight: 450;
  padding: 16px 0;
}
.page-content span {
  padding: 12px 16px;
  font-size: 0.9375rem;
  background-color: #24a8d8;
  color: #fff;
  border-radius: 50px;
  margin-top: 24px;
  display: inline-block;
}
.page-content span:hover {
  background-color: rgb(25, 117, 151);
}
.page-content span a {
  color: #fff;
}
.main-option {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.main-option .form-field-main {
  width: 280px;
}

.main-option .form-input-main {
  border: none;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  height: 31px;
  padding: 23px 0 10px 3px;
  transition: all 0.31s ease;
  outline: none;
  font-size: 1rem;
}

.main-option .form-input-main:hover {
  border-bottom: 2px solid #000000de;
}

.main-option .form-input-main:focus {
  border-color: #24a8d8;
}

.main-option .form-field-main {
  position: relative;
  margin: 20px 0;
}

.main-option .form-label-main {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  user-select: none;
  color: #999;
  pointer-events: none;
  font-size: 1rem;
  transition: 0.25s ease;
}

.form-input-main:not(:placeholder-shown) + .form-label-main,
.form-input-main:focus + .form-label-main {
  top: 0;
  display: inline-block;
  background-color: #ffffff;
  color: #24a8d8;
  font-size: 1.1.25rem;
}
.option-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
}
.option-icon:active {
  background-color: #e1fbff;
}
.option-lish,
.option-list-camera,
.option-lish-tuychon,
.option-lish-time {
  width: 340px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07), -3px -3px 5px rgba(0, 0, 0, 0.09);
  margin-top: 5px;
  position: absolute;
  right: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  z-index: 4;
}
.option-lish-time {
  width: 280px;
  font-size: 1rem;
  max-height: 160px;
  top: 190px;
  right: 100px;
  overflow-y: auto;
}
.option-lish-time .option-lish-item {
  padding: 12px 10px;
}
.option-list-camera {
  width: 200px;
  right: 0;
  top: 100%;
  z-index: 9;
}
.option-lish-tuychon {
  top: 180px;
  right: 123px;
  z-index: 3;
}
.hearder-option {
  position: relative;
}
.option-lish-item {
  padding: 6px 10px;
  font-size: 0.875rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.option-lish-item:hover {
  background-color: #f5f5f5;
}
.icon-option-item,
.icon-option-list {
  height: 23px;
  width: 23px;
  fill: rgba(0, 0, 0, 0.54);
  margin: 0 10px;
}
.overlay {
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 3;
}

.option-list-camera.anhbia {
  top: 50px;
  right: 13px;
}
.boxAnhDaiDien .option-list-camera {
  left: 50%;
  transform: translate(45px, -125px);
}

.BoxLoaiHinh .option-lish {
  z-index: 4;
}
.BoxTuyChon {
  position: relative;
}
.BoxThoiGian {
  position: relative;
}
.option-lish-time {
  top: 60px;
  right: 0;
}
/* dark mode */
.user-container.dark {
  background: #212121;
}
.user-container.dark .persinal-page,
.user-container.dark .tab-page {
  background: #303030;
}
.user-container.dark .tabItem {
  background-color: #303030;
}
.user-container.dark .tabItem.active {
  background-color: #24a8d8;
}
.user-container.dark .tabItem.active::before {
  background-color: rgb(134 243 255 / 30%);
}
.user-container.dark .nameUser,
.user-container.dark .tabItem,
.user-container.dark .main-tab-item,
.user-container.dark .tabItem span,
.user-container.dark .tuychon p,
.user-container.dark .tab-page-title,
.user-container.dark .page-content p {
  color: #fff;
  z-index: 1;
}
.user-container.dark .avatar-icon {
  fill: #212121;
}
.user-container.dark .tabItem::before {
  background-color: #515151;
  z-index: 0;
}
.user-container.dark .main-tab-item.active {
  color: #fff;
  font-weight: bold;
}
.user-container.dark .tab-icon,
.user-container.dark .tuychon-icon,
.user-container.dark .icon-option-header,
.user-container.dark .option-icon {
  fill: #fff;
  z-index: 1;
}
.user-container.dark .tuychon-btn {
  background-color: #202020;
}
.user-container.dark .tuychon-btn:hover {
  background-color: #515151;
}
.user-container.dark .tab-page::after {
  background-color: #4a6468;
}
.user-container.dark .tab-page::before {
  background-color: #3e4c4e;
}
.user-container.dark .hearder-option .header-option-content {
  color: #fff;
}
.user-container.dark .main-option .form-input-main {
  background-color: #303030;
  color: #fff;
}
.user-container.dark
  .form-input-main:not(:placeholder-shown)
  + .form-label-main,
.user-container.dark .form-input-main:focus + .form-label-main {
  background-color: #303030;
}
.user-container.dark .option-list-camera,
.user-container.dark .option-lish,
.user-container.dark .option-lish-time,
.user-container.dark .option-lish-tuychon {
  background-color: #303030;
}
.user-container.dark .option-lish-item {
  color: #fff;
}
.user-container.dark .option-lish-item:hover {
  background-color: #515151;
}
.user-container.dark .icon-option-item,
.user-container.dark .icon-option-list {
  fill: #fff;
}
/* responsive */
@media (max-width: 960px) {
  .tab-page {
    padding: 16px;
  }
}
@media (max-width: 600px) {
  .user-comtainer {
    width: 92%;
  }
  .main-option .form-field-main {
    width: 100%;
  }
  .option-lish-time {
    width: 400px;
  }
}
