.my-modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.my-modal .modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #24a8d8;
  color: white;
}

.my-modal .modal__header h2 {
  margin: 0.5rem;
}

.my-modal .modal__content {
  padding: 1rem 0.5rem;
}

.my-modal .modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 768px) {
  .my-modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.my-modal .modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.my-modal .modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.my-modal .modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.my-modal .modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
