.BoxNguoiThanhToan_container .form-field {
  width: 100%;
}
.BoxNguoiThanhToan_container {
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07), -2px -2px 4px rgba(0, 0, 0, 0.07);
  padding: 12px;
  padding-top: 16px;
  margin: 0;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.BoxNguoiThanhToan_container::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c2f9ff;
  z-index: -1;
  left: 16px;
  top: 12px;
}
.BoxNguoiThanhToan_container.dark::before {
  background-color: #515151;
}
.option1,
.option2,
.option3,
.option3-1,
.option4 {
  display: flex;
}
.BoxNguoiThanhToan_container .form-input {
  width: 100%;
  height: 40px;
  padding: 16px 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  transition: background 0s;
  outline: none;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #eaeaea;
}

.BoxNguoiThanhToan_container .form-input:hover {
  border-bottom: 2px solid #303030;
}

.BoxNguoiThanhToan_container .form-input:focus {
  border-color: #24a8d8;
}

.BoxNguoiThanhToan_container .form-field {
  position: relative;
  margin: 20px 10px;
}

.BoxNguoiThanhToan_container .form-label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  font-size: 1rem;
}

.BoxNguoiThanhToan_container .form-input:not(:placeholder-shown) + .form-label,
.BoxNguoiThanhToan_container .form-input:focus + .form-label {
  top: -5px;
  display: inline-block;
  background-color: #ffffff;
  color: #24a8d8;
  font-size: 0.75rem;
}
.isvalid .form-input {
  border-bottom-color: red;
}
.isvalid .form-input:hover,
.isvalid .form-input:focus {
  border-bottom-color: red;
}
.isvalid .form-input:not(:placeholder-shown) + .form-label,
.isvalid .form-input:focus + .form-label {
  color: red;
}
.message-error {
  color: red;
  font-size: 0.75rem;
  padding-top: 5px;
  position: absolute;
  bottom: -19px;
  left: 0;
}
.BoxNguoiThanhToan-title {
  font-size: 1.25rem;
  font-size: 1.25rem;
  margin-left: 12px;
  margin-bottom: 36px;
}
.BoxNguoiThanhToan-checkbox {
  font-size: 1rem;
  margin-left: 8px;
}
.bntt-checkbox {
  font-size: 1.25rem;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.bntt-checkbox:active {
  box-shadow: 2px 2px 2px #24a8d8, -2px -2px 2px #24a8d8;
}
.bntt-input-check {
  display: flex;
  align-items: center;
  margin: 12px;
}
.img-madt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 14px;
  object-fit: cover;
}
.form-input.madt {
  padding-left: 30px;
}
.arrow-btn {
  width: 28px;
  height: 28px;
  background-color: #eaeaea;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-btn:active {
  background-color: #f5f5f5;
}
.arrow-icon {
  padding: 3px;
  fill: rgba(0, 0, 0, 0.55);
}
.form-field.email {
  width: 50%;
}
.form-field.madt {
  width: 80%;
}
.option-list-mdt {
  position: absolute;
  width: 260px;
  height: 150px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07), -2px -2px 4px rgba(0, 0, 0, 0.07);
  left: 0;
  z-index: 4;
}
.option-list-mdt-item {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  padding: 8px 5px;
}
.option-list-mdt-item:hover {
  background-color: #eaeaea;
}
.option-list-mdt-item img {
  width: 18px;
  height: 14px;
  object-fit: cover;
  margin-right: 10px;
}
.madienthoai,
.quocgia {
  position: absolute;
}
.quocgia .option-list-mdt {
  width: 350px;
}
.overlay {
  position: fixed;
  top: 0;
  height: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  left: 0;
}
.bntt-input-check .input-checkbox {
  display: flex;
  align-items: center;
  z-index: 5;
}

.input-checkbox label {
  cursor: pointer;
  display: flex;
}
input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.input-checkbox label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.05em solid black;
}
.input-checkbox input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #24a4d8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* dark mode */
.BoxNguoiThanhToan_container.dark {
  background-color: #424242;
}
.BoxNguoiThanhToan_container.dark .form-input {
  border-bottom: 1px solid white;
  background-color: #424242;
  color: white;
}

.BoxNguoiThanhToan_container.dark .form-input:hover {
  border-bottom: 2px solid white;
}

.BoxNguoiThanhToan_container.dark .form-input:focus {
  border-color: #24a8d8;
}

.BoxNguoiThanhToan_container.dark .form-label {
  color: #bababa;
}
.BoxNguoiThanhToan_container.dark
  .form-input:not(:placeholder-shown)
  + .form-label,
.BoxNguoiThanhToan_container.dark .form-input:focus + .form-label {
  background-color: #424242;
}
.BoxNguoiThanhToan_container.dark .BoxNguoiThanhToan-title,
.BoxNguoiThanhToan_container.dark .BoxNguoiThanhToan-checkbox,
.BoxNguoiThanhToan_container.dark .option-list-mdt-item,
.BoxNguoiThanhToan_container.dark .label-checkbox {
  color: #fff;
}
.BoxNguoiThanhToan_container.dark .option-list-mdt-item:hover {
  background-color: #515151;
}
.BoxNguoiThanhToan_container.dark .option-list-mdt {
  background-color: #424242;
}
.BoxNguoiThanhToan_container.dark .arrow-icon {
  fill: #fff;
}
.BoxNguoiThanhToan_container.dark .arrow-btn {
  background-color: #424242;
}
.BoxNguoiThanhToan_container.dark .arrow-btn:hover {
  background-color: #515151;
}
.BoxNguoiThanhToan_container.dark .input-checkbox label::before {
  background-color: #424242;
  border: 2px solid #fff;
}
.BoxNguoiThanhToan_container.dark
  .input-checkbox
  input[type='checkbox']:checked
  + label::before {
  border: 2px solid #424242;
}
/* responsive */
@media (max-width: 960px) and (min-width: 601px) {
  .BoxNguoiThanhToan_container .option2 {
    flex-direction: column;
  }
  .BoxNguoiThanhToan_container {
    width: 100%;
  }
  .form-field.email {
    width: 100%;
  }
  .option3-1 {
    display: flex;
  }
}
@media (max-width: 600px) {
  .option1,
  .option2,
  .option3,
  .option3-1,
  .option4 {
    flex-direction: column;
  }
  .BoxNguoiThanhToan_container {
    width: 100%;
  }
  .form-field.email {
    width: 100%;
  }
}
