.fight-group3,
.fight-group2,
.fight-group1 {
  display: flex;
  width: 100%;
}
.fight-group3,
.fight-group2,
.fight-group4 {
  margin-top: 40px;
}
.AddFlight .form-field {
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0 20px;
}
.form-field.type {
  width: 250px;
}
.AddFlight .fight-group4 .form-field {
  width: 130px;
}
.AddFlight .form-field .form-input {
  border: none;
  border-bottom: 2px solid #eaeaea;
  transition: all 0.35s ease;
  transition: background 0s;
  outline: none;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  padding: 28px 0 12px 30px;
  color: var(--txt-color);
  background-color: var(--main-bg);
}
.AddFlight .form-field .form-label {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  font-size: 1rem;
}
.AddFlight .chooseAirline-box {
  position: relative;
}
.AddFlight .chooseAirline {
  position: absolute;
  background-color: var(--main-bg);
  width: 330px;
  height: 210px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.07), -2px -2px 4px rgba(0, 0, 0, 0.07);
  right: 0;
  z-index: 5;
  border-radius: 8px;
  padding: 0;
}
.AddFlight .chooseAirline-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
  padding: 3px 10px;
}
.AddFlight .input-icon {
  position: absolute;
  top: 63%;
  left: 0px;
  transform: translateY(-50%);
  color: #24a8d8;
  fill: #24a8d8;
  cursor: text;
  height: auto;
  width: auto;
  z-index: 0;
  height: 24px;
  width: 24px;
}
.AddFlight .form-field .form-label.time {
  top: 0;
  left: 4px;
  font-size: 0.75rem;
}
.AddFlight .form-input.time {
  background-color: transparent;
}
.AddFlight .arrow-icon {
  padding: 2px;
  fill: var(--txt-color);
  height: 24px;
  width: 24px;
}
.AddFlight .arrow-btn-flight {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}
.AddFlight .form-input:not(:placeholder-shown) + .form-label,
.AddFlight .form-input:focus + .form-label {
  top: 5px;
  display: inline-block;
  background-color: var(--main-bg);
  color: #24a8d8;
  left: 0px;
  font-size: 0.75rem;
}
.form-field .form-label.time {
  top: 0;
  left: 4px;
  font-size: 0.75rem;
}
.form-input.time {
  background-color: transparent;
}
.fly-option-lish {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  background-color: var(--main-bg);
  z-index: 6;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.07), -2px -2px 4px rgba(0, 0, 0, 0.07);
  padding: 10px 0;
  border-radius: 8px;
}
.fly-option-lish .option-list-item {
  padding: 10px;
  cursor: pointer;
}
.fly-option-lish .option-list-item:hover {
  background-color: var(--second-bg);
}
.airline-img img {
  width: 100%;
  max-width: 120px;
  /* height: 30px; */
}
.chooseAirline-item:hover {
  background-color: var(--second-bg);
}
.btn-addFight {
  padding: 8px 22px;
  background-color: #24a8d8;
  color: #fff;
  border-radius: 99px;
  cursor: pointer;
}
.btn-addFight:hover {
  background-color: #194867;
}
.btn-add {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.arrow-btn-flight {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-btn-flight:active {
  background-color: #eaeaea;
}
.group1-1 {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 960px) {
  .fight-group1 {
    flex-direction: column;
  }
  .form-field.type {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .group1-1 {
    flex-direction: column;
    align-items: baseline;
  }
  .form-field.type {
    width: 100%;
  }
  .fight-group3,
  .fight-group2,
  .fight-group4 {
    flex-direction: column;
    margin: 0;
  }
  .AddFlight .form-field {
    margin-top: 25px;
    margin-left: 0;
  }
}
