.sidebar {
  min-width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  z-index: 5;
}

.sidebar__logo {
  width: 250px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}
.sidebar__logo .logo-icon {
  height: 66px;
  fill: #24a8d8;
  width: 66px;
}
.title-logo {
  color: #24a8d8;
  font-size: 24px;
  margin-left: 5px;
}
.sidebar__item {
  padding: 0 20px;
}

.sidebar__item-inner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
  color: var(--txt-color);
}

.sidebar__item-inner > i {
  margin-right: 10px;
  font-size: 1rem;
}

.sidebar__item-inner > span {
  text-transform: capitalize;
}

.sidebar__item-inner:hover {
  color: var(--main-color);
}

.sidebar__item-inner.active {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: var(--txt-white);
}

.sidebar-close > i {
  font-size: 2rem;
  position: fixed;
  color: var(--txt-color);
  top: 18px;
  left: 260px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}
.sidebar-close > i:hover {
  background-color: var(--hover-color);
}
@media (max-width: 1160px) {
  .sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: -500px;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    transition: left 0.5s var(--transition-cubic);
  }
  .sidebar.active {
    left: 0;
  }

  .mode-list__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.5rem;
  }
  .sidebar.active .sidebar-close > i {
    display: block;
  }
}
