.background-pro {
  position: absolute;
}
.overlay-pro {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
  z-index: 3;
}
.provinces-component {
  width: 750px;
  height: 430px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07), -2px -2px 4px rgba(0, 0, 0, 0.07);
  font-size: 0.875rem;
  position: relative;
  line-height: 1.5;
  overflow-y: auto;
  position: absolute;
  z-index: 9;
}

.provinces-iconback {
  display: none;
}
.provinces-search {
  padding: 24px;
  position: relative;
}
.provinces-search-title {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 450;
  -webkit-tap-highlight-color: transparent;
}
.provinces-search-form {
  display: flex;
  align-items: center;
}
.provinces-search-lup {
  width: 32px;
  height: 36px;
  fill: rgba(0, 0, 0, 0.54);
  padding-right: 10px;
}
.provinces-icon {
  width: 40px;
  height: 25px;
  top: 52%;
  left: 10px;
  position: absolute;
}
.provinces-icon-bot {
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.provinces-search-bottom {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.54);
}
.provinces-search-bottom:hover {
  background-color: #eaeaea;
}
.provinces-search-bottom:active {
  opacity: 0.8;
}
.provinces-component .form-field-pro {
  width: 100%;
}

.provinces-component .form-input-pro {
  border: none;
  border-bottom: 2px solid #eaeaea;
  width: 100%;
  height: 31px;
  padding: 18px 0;
  transition: all 0.31s ease;
  outline: none;
  font-size: 1rem;
}

.provinces-component .form-input-pro:hover {
  border-bottom: 2px solid #000000de;
}

.provinces-component .form-input-pro:focus {
  border-color: #24a8d8;
}

.provinces-component .form-field-pro {
  position: relative;
  margin: 20px 0;
}

.provinces-component .form-label-pro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  user-select: none;
  color: #999;
  pointer-events: none;
  font-size: 1rem;
  transition: 0.25s ease;
}

.form-input-pro:not(:placeholder-shown) + .form-label-pro,
.form-input-pro:focus + .form-label-pro {
  top: 0;
  display: inline-block;
  background-color: #ffffff;
  color: #24a8d8;
  font-size: 0.75rem;
}
.provinces-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 16px 8px;
}
.provinces-menu-item-title {
  color: #24a8d8;
  font-size: 1rem;
  font-weight: 450;
  padding: 4px 16px;
  user-select: none;
}
.provinces-menu-item {
  color: rgba(0, 0, 0, 0.78);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 450;
  display: block;
  width: 100%;
  padding: 4px 16px;
  user-select: none;
}
.provinces-menu-item:hover {
  background-color: #eaeaea;
}
.provinces-menu-list {
  width: 30%;
}
/* dark mode */
.background-pro.dark .provinces-component {
  background-color: #424242;
}
.background-pro.dark .provinces-search-title {
  color: #fff;
  font-weight: 600;
}
.background-pro.dark .provinces-component .form-input-pro:hover {
  border-bottom: 2px solid #fff;
}
.background-pro.dark .provinces-component .form-input-pro {
  border-bottom: 1px solid #eaeaea;
  background-color: #424242;
}

.background-pro.dark .provinces-component .form-input-pro:hover {
  border-bottom: 2px solid #fff;
}

.background-pro.dark .form-input-pro:not(:placeholder-shown) + .form-label-pro,
.background-pro.dark .form-input-pro:focus + .form-label-pro {
  background-color: #424242;
}
.background-pro.dark .provinces-search-lup {
  fill: #fff;
}
.background-pro.dark .provinces-menu-item {
  color: #fff;
}
.background-pro.dark .provinces-menu-item:hover {
  background-color: #515151;
}
.background-pro.dark .provinces-icon-bot,
.background-pro.dark .provinces-iconback {
  fill: #fff;
}
.background-pro.dark .provinces-iconback {
  fill: #fff;
  background-color: #303030;
}
.background-pro.dark .provinces-search-bottom:hover,
.background-pro.dark .provinces-iconback:hover {
  opacity: 1;
  background-color: #515151;
}
.background-pro.dark .provinces-search-bottom:active,
.background-pro.dark .provinces-iconback:active {
  background-color: #303030;
  opacity: 1;
}
@keyframes leftToRight {
  0% {
    right: -1000px;
  }
  100% {
    left: 0;
  }
}
@media (max-width: 960px) and (min-width: 601px) {
  .provinces-component {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 60px 0;
    overflow: visible;
    box-shadow: none;
    overflow-y: auto;
    top: 0;
    right: 0;
    animation: leftToRight 1s ease;
  }
  .provinces-iconback {
    display: block;
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    top: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.54);
  }
  .provinces-iconback:active {
    opacity: 0.8;
  }
  .provinces-iconback-icon {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .provinces-menu-list {
    width: 100%;
    margin-bottom: 16px;
  }
  .provinces-menu-item-title {
    margin-bottom: 10px;
    font-size: 1.15rem;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
  }
  .provinces-menu-item {
    font-size: 1rem;
  }
  .background-pro.dark .provinces-iconback:hover {
    opacity: 1;
    background-color: #515151;
  }
}

@media (max-width: 600px) {
  .provinces-component {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 60px 0;
    overflow: visible;
    box-shadow: none;
    animation: truotphai 10s ease-in;
    overflow-y: auto;
    top: 0;
    left: 0;
  }

  .provinces-iconback {
    display: block;
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    top: 10px;
    border-radius: 50%;
    background-color: #eaeaea;
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.54);
  }
  .provinces-iconback:active {
    opacity: 0.8;
  }
  .provinces-iconback-icon {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .provinces-menu {
    flex-direction: column;
  }
  .provinces-menu-list {
    width: 100%;
    margin-bottom: 16px;
  }
  .provinces-menu-item-title {
    margin-bottom: 10px;
    font-size: 1.05rem;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
  }
  .provinces-menu-item {
    font-size: 1rem;
  }
}
