.page-header {
  margin-bottom: 40px;
  text-transform: capitalize;
}

.page-card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
