@media (max-width: 960px) {
  .row.responsive {
    flex-direction: column;
  }
  .row.responsive .chart-res {
    width: 100%;
  }
  .statuscard {
    width: 100%;
  }
  .table2,
  .table1 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .statuscard .col-6 {
    width: 100%;
  }
}
